[project]
name = 'stacks-guard'
description = 'Trustless investor protection layer on Stacks'
authors = []
telemetry = true
cache_dir = './.cache'
requirements = []

[contracts.refund-handler]
path = 'contracts/refund-handler.clar'
clarity_version = 4
epoch = '3.3'

[repl.analysis]
passes = ['check_checker']

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false

[repl.remote_data]
enabled = false
api_url = 'https://api.hiro.so'
